.page-div {
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

.content-div {
    /* background-color: brown; */
    margin-top: 200px;
    color: whitesmoke;
}

.header {
    color: whitesmoke;
    /* background-color: aqua; */
}

